<p (click)="onClick('傳入值',$event)" > dialog works!   Click事件</p>

事件冒泡stopPropagation
<div (click)="clickParent()" class = "wrap" style ="width:80px;height:200px; background-color: rgb(219, 28, 76);" >
    <div (click)="clickChild($event)"class = "child" style ="width:40px;height:100px; background-color: rgb(188, 235, 20);" >
    </div>
    <div (click)="$event.stopPropagation()"class = "child" style ="width:40px;height:100px; background-color: rgb(131, 20, 235);" >
    </div>
</div>
<div>
    <p>用keyup抓輸入了什麼,console看結果</p>
    <input #box type ="text" (keyup)="onKey($event)" >
    <p>用keyup抓輸入了什麼,將輸入字串丟給values dom再去呼叫values</p>
</div>
<div>
    <input #box1 type ="text" (keyup)="onKeyin(box1.value)" >
    {{values}}
</div>


---------輸入@Input 輸出@Output ----[class.d-block]="show"控制彈窗-------------
<!-- show" [class.d-block]="show"  顯示出來   black-back背景變黑     邏輯簡單可以不用方法直接寫在dom  (click) ="BackDropClose.emit()"      -->
<div class="modal fade show black-back" (click) ="onBackDropClick()" [class.d-block]="show" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <!-- modal-dialog-center 垂直居中 -->
    <div class="modal-dialog modal-dialog-centered" (click)="$event.stopPropagation()">
      <div class="modal-content">
        <div class="modal-header">

          <h5 class="modal-title" id="exampleModalLabel">{{ title }}</h5>
         
          <button (click)="onClose()" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button (click) = "onClose()" type="button" class="btn btn-secondary" data-dismiss="modal">{{ cancelLabel}}</button>
          <button (click) = "onConfrim()"type="button" class="btn btn-primary">{{ confrimLabel }}</button>
        </div>
      </div>
    </div>
  </div>

<p>dialog End!</p>
